In [34]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt  
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [6]:
df = pd.read_csv("creditcard.csv")

print(df.head(5))

   Time        V1        V2        V3        V4        V5        V6        V7  \
0   0.0 -1.359807 -0.072781  2.536347  1.378155 -0.338321  0.462388  0.239599
1   0.0  1.191857  0.266151  0.166480  0.448154  0.060018 -0.082361 -0.078803
2   1.0 -1.358354 -1.340163  1.773209  0.379780 -0.503198  1.800499  0.791461
3   1.0 -0.966272 -0.185226  1.792993 -0.863291 -0.010309  1.247203  0.237609
4   2.0 -1.158233  0.877737  1.548718  0.403034 -0.407193  0.095921  0.592941

         V8        V9  ...       V21       V22       V23       V24       V25  \
0  0.098698  0.363787  ... -0.018307  0.277838 -0.110474  0.066928  0.128539
1  0.085102 -0.255425  ... -0.225775 -0.638672  0.101288 -0.339846  0.167170
2  0.247676 -1.514654  ...  0.247998  0.771679  0.909412 -0.689281 -0.327642
3  0.377436 -1.387024  ... -0.108300  0.005274 -0.190321 -1.175575  0.647376
4 -0.270533  0.817739  ... -0.009431  0.798278 -0.137458  0.141267 -0.206010

        V26       V27       V28  Amount  Class
0 -0.189115  0.133558 -0.021053  149.62      0
1  0.125895 -0.008983  0.014724    2.69      0
2 -0.139097 -0.055353 -0.059752  378.66      0
3 -0.221929  0.062723  0.061458  123.50      0
4  0.502292  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [7]:
####copying the data set such that  the rginal  wont change 
new_df = df.dropna()

In [8]:
#checking the missing values
print(new_df.isnull().sum())

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [9]:
print(new_df.dtypes)

Time      float64
V1        float64
V2        float64
V3        float64
V4        float64
V5        float64
V6        float64
V7        float64
V8        float64
V9        float64
V10       float64
V11       float64
V12       float64
V13       float64
V14       float64
V15       float64
V16       float64
V17       float64
V18       float64
V19       float64
V20       float64
V21       float64
V22       float64
V23       float64
V24       float64
V25       float64
V26       float64
V27       float64
V28       float64
Amount    float64
Class       int64
dtype: object

In [10]:
print(new_df.describe())

                Time            V1            V2            V3            V4  \
count  284807.000000  2.848070e+05  2.848070e+05  2.848070e+05  2.848070e+05
mean    94813.859575  3.918649e-15  5.682686e-16 -8.761736e-15  2.811118e-15
std     47488.145955  1.958696e+00  1.651309e+00  1.516255e+00  1.415869e+00
min         0.000000 -5.640751e+01 -7.271573e+01 -4.832559e+01 -5.683171e+00
25%     54201.500000 -9.203734e-01 -5.985499e-01 -8.903648e-01 -8.486401e-01
50%     84692.000000  1.810880e-02  6.548556e-02  1.798463e-01 -1.984653e-02
75%    139320.500000  1.315642e+00  8.037239e-01  1.027196e+00  7.433413e-01
max    172792.000000  2.454930e+00  2.205773e+01  9.382558e+00  1.687534e+01

                 V5            V6            V7            V8            V9  \
count  2.848070e+05  2.848070e+05  2.848070e+05  2.848070e+05  2.848070e+05
mean  -1.552103e-15  2.040130e-15 -1.698953e-15 -1.893285e-16 -3.147640e-15
std    1.380247e+00  1.332271e+00  1.237094e+00  1.194353e+00  1.098632e+00
min   -1.137433e+02 -2.616051e+01 -4.355724e+01 -7.321672e+01 -1.343407e+01
25%   -6.915971e-01 -7.682956e-01 -5.540759e-01 -2.086297e-01 -6.430976e-01
50%   -5.433583e-02 -2.741871e-01  4.010308e-02  2.235804e-02 -5.142873e-02
75%    6.119264e-01  3.985649e-01  5.704361e-01  3.273459e-01  5.971390e-01
max    3.480167e+01  7.330163e+01  1.205895e+02  2.000721e+01  1.559499e+01

       ...           V21           V22           V23           V24  \
count  ...  2.848070e+05  2.848070e+05  2.848070e+05  2.848070e+05
mean   ...  1.473120e-16  8.042109e-16  5.282512e-16  4.456271e-15
std    ...  7.345240e-01  7.257016e-01  6.244603e-01  6.056471e-01
min    ... -3.483038e+01 -1.093314e+01 -4.480774e+01 -2.836627e+00
25%    ... -2.283949e-01 -5.423504e-01 -1.618463e-01 -3.545861e-01
50%    ... -2.945017e-02  6.781943e-03 -1.119293e-02  4.097606e-02
75%    ...  1.863772e-01  5.285536e-01  1.476421e-01  4.395266e-01
max    ...  2.720284e+01  1.050309e+01  2.252841e+01  4.584549e+00

                V25           V26           V27           V28         Amount  \
count  2.848070e+05  2.848070e+05  2.848070e+05  2.848070e+05  284807.000000
mean   1.426896e-15  1.701640e-15 -3.662252e-16 -1.217809e-16      88.349619
std    5.212781e-01  4.822270e-01  4.036325e-01  3.300833e-01     250.120109
min   -1.029540e+01 -2.604551e+00 -2.256568e+01 -1.543008e+01       0.000000
25%   -3.171451e-01 -3.269839e-01 -7.083953e-02 -5.295979e-02       5.600000
50%    1.659350e-02 -5.213911e-02  1.342146e-03  1.124383e-02      22.000000
75%    3.507156e-01  2.409522e-01  9.104512e-02  7.827995e-02      77.165000
max    7.519589e+00  3.517346e+00  3.161220e+01  3.384781e+01   25691.160000

               Class
count  284807.000000
mean        0.001727
std         0.041527
min         0.000000
25%         0.000000
50%         0.000000
75%         0.000000
max         1.000000

[8 rows x 31 columns]

In [11]:
new_df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [12]:
correct_tra=new_df[new_df.Class ==0]
fraud_tra=new_df[new_df.Class ==1]

In [13]:
correct_tra.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [14]:
fraud_tra.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [15]:
new_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

###### build a sample dataset containg similar distribution of normal transactions and fraudulent transactions

In [16]:
correct_sample=correct_tra.sample(n=492)

In [17]:
new_df1=pd.concat([correct_sample,fraud_tra],axis=0)

In [18]:
new_df1.head(5)

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
26332,34012.0,1.279521,-0.687630,-0.359233,-0.704738,-0.409979,0.181060,-0.722659,0.232981,-0.566430,...,-0.052780,-0.308527,-0.117386,-0.954532,0.413857,-0.234200,0.013886,0.019419,54.90,0
62635,50351.0,-0.293404,1.113694,0.843869,-0.337769,0.719508,0.026104,0.628378,0.108591,-0.681575,...,-0.282556,-0.733245,-0.186775,-0.869399,-0.012129,0.124537,0.245955,0.077505,0.89,0
269138,163547.0,-0.690198,1.518954,-1.080035,-0.463212,0.288707,-0.769584,0.314658,0.613515,-0.360490,...,0.467595,1.300962,0.013772,0.652316,-0.714903,-0.252495,0.130338,0.189922,3.75,0
89874,62762.0,0.046357,-2.798305,-0.777691,-0.307051,-1.364073,-0.080490,0.401925,-0.189146,-1.058144,...,-0.175173,-1.733369,-0.536182,-0.492311,-0.149400,0.778282,-0.204621,0.112905,713.99,0
186626,127183.0,-1.219676,0.857351,1.255359,1.014393,-0.057598,-0.298202,0.638258,0.437094,-0.759198,...,-0.347846,-1.415310,0.134569,-0.208035,0.249161,-0.876833,-0.061304,-0.022818,94.00,0

In [19]:
new_df1['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [20]:
new_df1.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94999.065041,0.109155,-0.040375,0.083626,0.006742,-0.044926,0.051205,0.002901,0.016296,0.024258,...,0.029240,0.016707,0.010171,-0.006634,-0.048993,0.004766,0.012857,0.000448,0.008535,95.951199
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [24]:
x=new_df1.drop(columns='Class',axis=1)
Y=new_df1['Class']

In [28]:
print(x)

            Time        V1        V2        V3        V4        V5        V6  \
26332    34012.0  1.279521 -0.687630 -0.359233 -0.704738 -0.409979  0.181060
62635    50351.0 -0.293404  1.113694  0.843869 -0.337769  0.719508  0.026104
269138  163547.0 -0.690198  1.518954 -1.080035 -0.463212  0.288707 -0.769584
89874    62762.0  0.046357 -2.798305 -0.777691 -0.307051 -1.364073 -0.080490
186626  127183.0 -1.219676  0.857351  1.255359  1.014393 -0.057598 -0.298202
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
26332  -0.722659  0.232981 -0.566430  ...  0.069610 -0.052780 -0.308527
62635   0.628378  0.108591 -0.681575  ...  0.201418 -0.282556 -0.733245
269138  0.314658  0.613515 -0.360490  ... -0.200785  0.467595  1.300962
89874   0.401925 -0.189146 -1.058144  ...  0.941122 -0.175173 -1.733369
186626  0.638258  0.437094 -0.759198  ...  0.135181 -0.347846 -1.415310
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
26332  -0.117386 -0.954532  0.413857 -0.234200  0.013886  0.019419   54.90
62635  -0.186775 -0.869399 -0.012129  0.124537  0.245955  0.077505    0.89
269138  0.013772  0.652316 -0.714903 -0.252495  0.130338  0.189922    3.75
89874  -0.536182 -0.492311 -0.149400  0.778282 -0.204621  0.112905  713.99
186626  0.134569 -0.208035  0.249161 -0.876833 -0.061304 -0.022818   94.00
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [29]:
print(Y)

26332     0
62635     0
269138    0
89874     0
186626    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

###### split the data into train data and test data

In [35]:
X_train, X_test, Y_train, Y_test=train_test_split(x,Y,test_size=0.2,stratify=Y,random_state=2)

In [41]:
print(x.shape ,X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

######  We are going to Logistic Regression Model for binary classifications

In [44]:
model=LogisticRegression()

In [46]:
model.fit(X_train,Y_train)

LogisticRegression()

 ######  Model Evaluation

###### Accuracy Score

In [47]:
X_train_prediction=model.predict(X_train)
training_data_accuracy=accuracy_score(X_train_prediction,Y_train)

In [48]:
print("Accuracy on training data:",training_data_accuracy)

Accuracy on training data: 0.9479034307496823

In [51]:
X_test_prediction=model.predict(X_test)
test_data_accuracy=accuracy_score(X_test_prediction,Y_test)

In [52]:
print("Accuracy on training data:",test_data_accuracy)

Accuracy on training data: 0.934010152284264